/*header*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 5px;
}

header {
    display: flex;
    /* border: 1px solid red; */
    padding: .2em;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    /* border: 1px solid red; */
    width: 25%;
    padding: .2em;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-img {
    /* border: 1px solid red; */
}


/* header-tiles */

.header-titles {
    width: 75%;
    padding: .2em;
    /* border: 1px solid red; */
}

.header-titles h1 {
    text-align: right;
    font-size: 20px;
}

.header-titles p {
    text-align: right;
}


/* hero section */

.hero-image {
    height: auto;
    width: 100%;
}

.description,
section {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
}


/* .row {
    display: flex;
} */


/* featured work */

section {
    /* display: flex; */
}


/* .column {
    flex: 33.3%;
    padding: 5px;
} */

.work {
    padding: .333em;
    /* width: 33.3333%; */
}

.work p {
    text-align: center;
    font-size: 10px;
}

.work img {
    width: 100%;
}


/* for screens larger than... some styles and (section display flex)*/

@media screen and (min-width: 500px) {
    body {
        background: lavender;
    }
    section {
        display: flex;
    }
    .work {
        width: 33.3333%;
    }
}

@media screen and (min-width: 750px) {
    .work p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .work p {
        font-size: 18px;
    }
}


/*end*